@charset "UTF-8";
html,
body {
  height: auto;
  width: 100%;
  margin: 0;
  font-family: Inter;
  background-color: #FFFFff;
  color: #292929;
}

/*
*{
  border-right: 1px green solid;
}
 */
p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter;
  color: #292929;
}

li, a, ul {
  list-style-type: none;
  text-decoration: none;
  font-family: Inter;
  color: #292929;
}

.button_light {
  background: #89D8F7;
  border: 0.8px #292929 solid;
  transition: 0.4s;
}
.button_light:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.4s;
}
.button_light:active {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(to right, #E1FF00 0%, #E1FF00 50%, #89D8F7 100%);
  transition: 6s;
}
.button_light:active:hover {
  background-position: right center;
}

.button_dark {
  background: #292929;
  color: #f4f5f7;
  border: 0.8px #292929 solid;
  transition: 0.4s;
}
.button_dark:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.4s;
}

.header {
  display: flex;
  padding: 1%;
}
.header_logo {
  margin-top: 0.5em;
  width: 200px;
  font-size: 18px;
  font-weight: 400;
  margin-right: 45%;
}
.header_right {
  justify-content: space-between;
  width: 600px;
  display: flex;
}
.header_right_user_name {
  margin-top: 0.5em;
  width: 100px;
  font-size: 16px;
  font-weight: 400;
}
.header_right_user_job {
  margin-top: 0.5em;
  width: 100px;
  font-size: 16px;
  font-weight: 400;
}

.header_right_sp_func_btn {
  border-radius: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}

.sub_header {
  margin-top: 3%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
}
.sub_header_base {
  margin-top: 0.4em;
  font-size: 25px;
  margin-right: 40px;
}
.sub_header_form {
  margin-right: 40px;
}
.sub_header_create {
  border-radius: 15px;
  width: 182px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 150;
  font-size: 16px;
}
.sub_header_sort, .sub_header_update, .sub_header_filter {
  border-radius: 15px;
  width: 182px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 150;
  font-size: 16px;
}

.left_side {
  display: flex;
}

.right_side {
  justify-content: space-between;
  width: 700px;
  display: flex;
}

#bar {
  background: repeating-linear-gradient(120deg, #97BAFF, #89D8F7, #E1FF00, #97BAFF, #89D8F7, #E1FF00, #97BAFF, #89D8F7);
  background-repeat: repeat-x;
  width: 98%;
  background-size: 400% 100%;
  -webkit-animation: AnimationName 8s linear infinite;
  -moz-animation: AnimationName 8s linear infinite;
  animation: AnimationName 9s linear infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#DB {
  min-width: 140px;
  min-height: 51px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  background: #292929;
  color: #caced1;
  border: 0.8px #292929 solid;
  text-decoration: none;
}
#DB:hover {
  text-decoration: none;
}

.sub_header_form_select select {
  appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #292929;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #caced1;
  cursor: pointer;
}

.table {
  margin-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

th, td {
  border: 0.8px #292929 solid;
}

.shapcka {
  background: #89D8F7;
}

.var_tab {
  font-weight: 260;
}

.change {
  margin-right: 8px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.pagination {
  gap: 15px;
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.to_first, .one_left, .one_right, .to_last {
  border: none;
  background: none;
  transition: 0.4s;
}

.page_numb {
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 16px;
  padding-bottom: 13px;
  width: 16px;
  height: 10px;
  border-radius: 15px;
}

.card_del_input_p_btn {
  display: flex;
  justify-content: center;
}

.card_del_input {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 3px;
  height: 42px;
  width: 90px;
  border: 0.8px #292929 solid;
  border-radius: 15px 0 0 15px;
}
.card_del_input:active, .card_del_input:hover, .card_del_input:focus {
  border: 0.8px #292929 solid;
}

.card_del_input_t {
  font-size: 14px;
  font-weight: 250;
  height: 17px;
}

.card_del_btn {
  background-color: #89D8F7;
  width: 50px;
  height: 45px;
  margin-top: 20px;
  border-radius: 0 15px 15px 0;
  border: 0.8px #292929 solid;
}

.wrapper {
  padding: 1%;
}

.card_del {
  background-color: #E6E7E9;
  border: 0.8px #292929 solid;
  border-radius: 12px;
  width: 384px;
  height: 224px;
  padding: 20px;
}

.card_del_del_btn {
  height: 45px;
  width: 158px;
  border-radius: 15px;
}

.card_del_title {
  text-align: center;
  margin-bottom: 40px;
}

.wrapper_btn {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

#return_btn, #return_btnArr {
  margin-top: 20px;
  margin-left: 40px;
}

.card_del_value {
  font-weight: 200;
  font-size: 20px;
}

.first_line {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.title_sp {
  text-align: center;
}

.second_line {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 150px;
}

.change {
  margin-left: 10px;
  display: flex;
  margin-top: -5px;
}

.remove {
  margin-top: -20px;
}

.card_del_input_t {
  margin-left: 2px;
}

.dark_shade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 1;
}

.display_none {
  display: none;
}

.popup {
  border-radius: 34px;
  position: fixed;
  padding: 20px;
  z-index: 3;
  background-color: #F4F5F7;
  margin-top: 3%;
  margin-left: 25%;
}

.popup_first_line {
  display: flex;
}
.popup_first_line_wrapper {
  gap: 30px;
  display: flex;
}

.popup_second_line {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  width: 150px;
  justify-content: space-between;
}
.popup_second_line_author {
  font-size: 18px;
  font-weight: 200;
}
.popup_second_line_nameAuthor {
  font-size: 18px;
  font-weight: 500;
}

.popup_input {
  display: flex;
}
.popup_input_text {
  font-weight: 250;
  font-size: 14px;
  margin-left: 2px;
}
.popup_input_input {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 3px;
  height: 42px;
  border: 0.8px #292929 solid;
}
.popup_input_input:active, .popup_input_input:hover, .popup_input_input:focus {
  border: 0.8px #292929 solid;
}
.popup_input_del_btn, .popup_input_link_btn {
  background-color: #89D8F7;
  border: 0.8px #292929 solid;
  width: 46px;
  margin-top: 20px;
}

.popup_create {
  margin-top: 12px;
  width: 158px;
  height: 42px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 15px;
}

.popup_third_line {
  display: flex;
  justify-content: space-between;
}

.w90 {
  width: 90px;
}

.w55 {
  width: 55px;
}

.w74 {
  width: 74px;
}

.br015150 {
  border-radius: 0 15px 15px 0;
}

.br150015 {
  border-radius: 15px 0 0 15px;
}

.popup_checkbox {
  margin-top: 12px;
  display: flex;
}

.w98 {
  width: 98px;
}

.popup_fourth_line {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.w115 {
  width: 115px;
}

.w125 {
  width: 125px;
}

.w350 {
  width: 350px;
}

.w100 {
  width: 100px;
}

.popup_five_line {
  margin-top: 20px;
  display: flex;
  gap: 83px;
}

#coordinate_stud {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: 22px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.popup_btn_create {
  height: 45px;
  width: 158px;
  border-radius: 15px;
}
.popup_btn_del {
  height: 45px;
  width: 158px;
  border-radius: 15px;
  border: 0.8px #292929 solid;
  transition: 0.4s;
}
.popup_btn_del:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.4s;
}

.popup_six_line_1 {
  margin-top: 20px;
  margin-left: 11em;
}

.popup_six_line_2 {
  margin-top: 20px;
  margin-left: 5em;
}

.popup_close {
  margin-left: 20em;
  border: none;
  background: none;
  transition: 0.4s;
}
.popup_close:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.4s;
}

.popup_date {
  margin-top: 8px;
}

.w260 {
  width: 260px;
}

.w270 {
  width: 270px;
}

.w35 {
  width: 35px;
}

.w185 {
  width: 185px;
}

.br15 {
  border-radius: 15px;
}

.aprove {
  margin-top: 20px;
  gap: 40px;
}
.aprove_title {
  margin-top: 7px;
}

.space_b {
  justify-content: space-between;
}

.login_wrapper_1, .login_wrapper_2 {
  display: flex;
}

.wrapper_l {
  margin-top: 5%;
  margin-left: 35em;
  width: 660px;
  align-items: center;
}

.mb60 {
  margin-top: 30px;
}

.w300 {
  width: 300px;
}

#enter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error_massage {
  margin-top: 10px;
  font-weight: 250;
  font-size: 13px;
}

.popup_seven_line {
  margin-top: 28px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.rubbish {
  width: 23px;
  height: 23px;
}

.popup_del_btn {
  padding: 8px;
  border-radius: 8px;
}

#login_clear:hover, #password_clear:hover {
  cursor: pointer;
}

#reg {
  margin-left: 3em;
  background: #F4F5F7;
  color: #292929;
}

.link {
  margin-left: 40px;
  text-decoration: underline;
  color: #2D6782;
}

.checkbox {
  margin-top: 30px;
}
.checkbox_text {
  color: #292929;
}

#admin {
  width: 30px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: #89D8F7;
  cursor: pointer;
  background-color: #89D8F7;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #292929;
  cursor: pointer;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #292929;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

#password_txt {
  -webkit-text-security: disc;
  -moz-text-security: disc;
  text-security: disc;
}

.dop_reg {
  display: flex;
  margin-bottom: 15px;
}

.reg_reg {
  padding-top: 20px;
  background: none;
}

.admin_param {
  margin-bottom: 10px;
  margin-top: 15px;
}

#exit_btn {
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.select_coord {
  padding-right: 11px;
  height: 150px;
  position: absolute;
  margin-top: 10px;
  background: #Ffffff;
  border: #292929 1px solid;
  z-index: 6;
}

.select_coord_wrapper {
  overflow-y: scroll;
  height: 150px;
}

.select_coord_child {
  display: flex;
}

.place {
  width: 140px;
  text-align: center;
}

.coord_X {
  width: 90px;
  text-align: center;
}

.coord_Y {
  width: 90px;
  text-align: center;
}

.select_coord_child:hover {
  background-color: #caced1;
  cursor: pointer;
}
.select_coord_child:hover:first-child {
  border-radius: 15px 0px 0 0px;
}
.select_coord_child:hover:last-child {
  border-radius: 0 0 0px 15px;
}

.clear_location_btn:hover {
  cursor: pointer;
}

.select_loc_btn:hover {
  cursor: pointer;
}

.h45 {
  height: 45px;
}

.h44 {
  height: 44px;
}

.ml15 {
  margin-left: 15px;
}

.w170 {
  width: 170px;
}

.select_location_wrapper {
  z-index: 6;
  position: absolute;
  background: none;
  margin-top: -20%;
  width: 110%;
  height: 80%;
  margin-left: -5%;
}

.disabled_button {
  background-color: #686868 !important;
  border: #686868 !important;
  color: #B2B0B0 !important;
  animation: pulse 1.5s linear infinite;
}

.shapka_wrapper {
  display: flex;
  font-size: 14px;
}

.arrows {
  margin-top: -6px;
  margin-left: 2px;
  position: relative;
}
.arrows:hover {
  cursor: pointer;
}

.arrows_2:hover {
  cursor: pointer;
}

.arrow {
  transition: 0.2s;
  stroke-width: 2px;
  stroke: #767575;
}
.arrow:hover {
  width: 22px;
  stroke: #292929;
  transition: 0.2s;
  stroke-width: 3.5px;
}

.clear_btn_btn:hover {
  cursor: pointer;
}

.disable_pagination {
  color: #B2B0B0 !important;
}

.active_pagination:hover {
  cursor: pointer;
  scale: 1.2;
  transition: 0.4s;
}

.application {
  display: flex;
  gap: 42px;
  margin-bottom: 15px;
}
.application_name {
  font-size: 20px;
  font-weight: 400;
}
.application_date {
  font-size: 18px;
  font-weight: 300;
}
.application_approve {
  margin-top: -5px;
  width: 135px;
  height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #292929;
  color: #FFF;
  transition: 0.4s;
}
.application_approve:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.4s;
}
.application_cancel {
  margin-top: -5px;
  width: 135px;
  height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: #292929 1px solid;
  transition: 0.4s;
}
.application_cancel:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.4s;
}

.mb40 {
  margin-bottom: 40px;
}

.popup_cross_loc {
  height: 45px !important;
  margin-top: 19px !important;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
.popup_place_class {
  width: 135px;
  height: 44px;
  position: absolute;
}

/*# sourceMappingURL=styles.css.map */
